package ${basePackage};

import java.io.Serializable;
import ${managedBeanFullClassName};
import ${scopeClassName};

${scopeAnnotation}
${managedBeanAnnotation}
public class PrimeBean implements Serializable {

    private static final long serialVersionUID = -2403138958014741653L;
    private String name;

    public PrimeBean() {
        System.out.println("post construct: initialize");
        name = "John";
    }

    public String getName() {
        return name;
    }

    public void setName(String name) {
        this.name = name;
    }
}
